body {
    background-color: #96C4D8;
    font-family: Georgia serif;
    background-image: url("images/backgroundImage.jpg");
    /*background-color: #393939;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 50px auto;
    width: 1000px;
}

.header {
    text-align: right;
    background: #548BA1;
    color: #214753;
    font-weight: bold;
}

.header {
    padding: 60px;
    text-align: center;
    background: #FFB266;
    color: black;
    font-size: 30px;
}

a:link:not(.navigation-bar a, #addButton), a:visited {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FFB266;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

a:hover, a:active {
    background-color: #ff9833;
    color: white;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation-bar li {
    float: left;
}

.navigation-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar a:hover {
    background-color: #111;
}

.navigation-bar a:active {
    background-color: #111;
}

.main-section {
    padding: 10px;
    background-color: #E0EEF7;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #FFB266;
    color: white;
}

.text--justified {
    text-align: justify;
}

.text--italic {
    font-style: italic;
}

.text--bold {
    font-weight: bold;
}

.ui-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FFB266;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.ui-button:hover {background-color: #ff9833}

.ui-button:active {
    background-color: #FFB266;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.ui-input {
    height: 20px;
}

.ui-textarea {

}

.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #FFB266;
    color: white;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FFB266;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #ff9833}

button:active {
    background-color: #FFB266;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.add-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FFB266;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.add-button:hover {background-color: #ff9833}

.add-button:active {
    background-color: #FFB266;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}